/* global styles */
body{
    margin: 0;
}
/* end global styles */


/* nav styles */
.main-nav{
    height: 75px;
    background-color: #333;
}

.logo{
    height: 56px;
    padding: 10px;
}

.nav-list{
    float: right;
    list-style-type: none;
}

li{
    color: #fff;
    float: left;
    padding: 14px 16px;
}

.center{
    text-align: center;
}
/* end nav styles */




/* below classes were used to learn float property */
/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */
/* end float property */