/* global styles */
body{
    margin: 0;
}
/* end global styles */


/* nav styles */
.main-nav{
    height: 75px;
    background-color: rgb(38, 40, 79);
}

/* .main-nav:hover{
    height: 95px;
} */

.logo{
    height: 56px;
    padding: 10px;
}

.logo:hover{
    height: 76px;
    padding: 20px;
}

.nav-list{
    float: right;
    /* list-style-type: none; */
}

.no-list-style{
    list-style-type: none;
}

li{
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover{
    color: red;
    /* font-size: 20px;
    padding: 20px 25px; */
}

.center{
    text-align: center;
}
/* end nav styles */

/* content styles */
.content{
    /* background-color: #BAD9FF; */
    /* height: 78vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.oocss-buttons{
    /* background-color: #BAD9FF; */
    /* height: 78vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.margin-0-auto{
    margin: 0 auto;
}

.button{
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.button-success{
    background: rgb(20, 171, 20);
}

.button-success:hover{
    background: rgb(8, 130, 8);
}

.button-default{
    background: #ccc;
    color: #444;
}

.button-default:hover{
    background: rgb(150, 150, 150);
    color: #444;
}

.button-danger{
    background: red;
}

.button-danger:hover{
    background: rgb(179, 0, 0);
}

.button-small{
    width: 150px;
}

.button-large{
    width: 250px;
}
/* end content styles */

/* footer styles */
.footer{
    background-color: #BAD9FF;
}

.social-media{
   height: 50px;
   padding: 10px;
   margin-bottom: 0;
   /* list-style-type: none; */
}

.social-media:hover{
    height: 50px;
    margin-bottom: 0;
    /* color: red; */
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}
/* end footer styles */

.map{
    padding: 2em;
    width: 100%;
    height: 300px;
}

/* below classes were used to learn float property */
/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */
/* end float property */