/* global styles */
body{
    margin: 0;
}
/* end global styles */


/* nav styles */
.main-nav{
    height: 75px;
    background-color: #333;
}

.main-nav:hover{
    /* height: 95px; */
    background-color: #333;
}

.logo{
    height: 56px;
    padding: 10px;
}

.logo:hover{
    height: 76px;
    padding: 20px;
}

.nav-list{
    float: right;
    list-style-type: none;
}

li{
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover{
    color: red;
    /* font-size: 20px;
    padding: 20px 25px; */
}

.center{
    text-align: center;
}
/* end nav styles */

/* content styles */
.content{
    /* background-color: #BAD9FF; */
    height: 78vh;
}
/* end content styles */

/* footer styles */
.footer{
    background-color: #BAD9FF;
}

.social-media{
   height: 50px;
   padding: 10px;
   margin-bottom: 0;
   list-style-type: none;
}

.social-media:hover{
    height: 50px;
    margin-bottom: 0;
    /* color: red; */
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}
/* end footer styles */


/* below classes were used to learn float property */
/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */
/* end float property */